<div class="modal opacity-0 pointer-events-none absolute w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
    <div class="absolute w-1/2 h-auto bg-white rounded-lg shadow-lg flex items-center  text-xl">
        <div class="w-72 p-3 h-full border">
          New Project
        </div>
      <form action="/projects/create" method="POST" class="flex flex-col w-full p-5">
        <input type="text" name="name" class="p-2 w-full border form-input rounded-full outline-none focus:ring-2 focus:ring-indigo-500 my-2" 
        placeholder="Project Name">
        <select name="status" class="form-select px-4 py-3 border rounded-full" >
          <option value="open">Open</option>
          <!-- <option value="pending">Pending</option>
          <option value="progress">In Progress</option>
          <option value="hold">On Hold</option>
          <option value="complete">Complete</option> -->
        </select>
        <input type="date" name="endDate" class="form-input px-4 py-3 mt-3 border rounded-full focus:outline-none focus:ring-2 focus:ring-indigo-100">
        <button class="rounded-full bg-green-400 hover:bg-green-600 p-3 my-3">Save</button>
      </form>
    </div>