
    <div class="right-drawer" id="drawer">
        <h1>Menu</h1>
        <h4>Home</h4>
        <h4>About</h4>
        <h4>Stories</h4>
        <h4>Testimonials</h4>
        <h4>Contact</h4>
      </div>
      <div id="drawerMask" class="drawer-mask"></div>
  

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
      <script>
  
  
      </script>
    </body>
  </html>
  